body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-bar {
  display: flex;
  padding-right: 10px;
  gap: 10px;
  align-items: center;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

.search-bar img {
  width: 20px;
  height: 20px;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: #171717;
  padding: 10px;
  color: white;
  width:200px;
  padding: 10px;
}

#nav1{
  background: #171717;
  height: 7em;
  margin :-2em;
  padding-top:1.2em;
  /* padding-bottom:0.2em; */

}
#title{
  font-family: 'Smooch', cursive;
  color: #1ACE95;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}
.jambo{
  background: #323A41;
  margin: 2em -2em -2em -2em;
  padding-bottom: 10px;
  
}
#aboutText{
  font-family: 'Montserrat', sans-serif;
  color: #d7d7d7;
  text-align: center;
  padding: 20px;
  margin: 10px;
  margin-bottom: 0px;
  font-size: small;
  
  

}

.itemD{
  width :300px;
  height :100px;
  background-color:#171717;
  color: #1ACE95;
  display: flex;
  /* padding: 20px; */
  border-radius: 20px;
  /* margin-top : 2em; */
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}
.shoeIMg{
  width:100px;
}
.shoeImg1{
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
  padding: 10px;
}
.nonee{
  margin-top:50px;
  text-align: center;
}
.contents{
  
  padding :10px;
  margin-top: 2px;
}
.itemName{
  font-family: 'Josefin Sans', sans-serif;
  font-size: xx-large;
  margin-top: 5px;
}
.features{
  display: flex;
  margin-top: 11px; 
}
.itemMFD{
  margin-left: 30px;
  background-color: #1ACE95;
  color: #171717;
  border-radius: 10px;
  padding-right:5px;
  padding-left:5px;
  font-size:xx-small
}
.iremPice{
  background-color: #1ACE95;
  color: #171717;
  border-radius: 10px;
  padding-right:5px;
  padding-left:5px;
  font-size:xx-small
}
.itemId{
  margin-left: 30px;
  background-color: #1ACE95;
  color: #171717;
  border-radius: 10px;
  padding-right:5px;
  padding-left:5px;
  font-size:xx-small
}
.priceID{
  display: flex;
  margin-top: 3px;

}
.itemColor{
  background-color: #1ACE95;
  color: #171717;
  border-radius: 10px;
  padding-right:5px;
  padding-left:5px;
  font-size:xx-small
}
.placeHolder{
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}




.item-box {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
  /* background-color: #171717; */
  /* color: white; */
  width: 100%;
  max-width: 400px;
  margin: 35px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(237,237,237,1);
}

.item-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.item-box .content {
  display: grid;
  grid-template-rows: 1fr auto;
}

.item-box h2 {
  margin-bottom: 2px;
}

.item-box .desc {
  color: #a6a6a6;
}

.item-box .content .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
}

.item-box .content .tags .tag {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}

.item-box .content .tags .tag small:first-child {
  color: white;
  padding: 0 10px;
}
.item-box .content .tags .tag small:nth-child(2) {
  background-color: white;
  padding: 0 10px;
}